<div class="page">
    <div class="page__hd">
        <h1 class="page__title">
            <img src="./images/logo.png" alt="维保人员入驻" height="21px" />
        </h1>
        <p class="page__desc">维保员根据维护计划巡检用微信扫码签到，如设备或场景有问题，通过微信报修。管理员可以通过微信端查看巡检记录消息。</p>
    </div>
    <div class="page__bd">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" id="tel" placeholder="请输入手机号" />
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn">获取验证码</button>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">验证码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" id='number' placeholder="请输入验证码" />
                </div>

            </div>
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary " data-id="community" href="javascript:" id="showTooltips">确定</a>
        </div>

        <div id="toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content" id="toast_content_text">操作成功</p>
            </div>
        </div>
        <div id="loadingToast" style="display:none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">数据加载中</p>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()">
            <img src="./images/icon_footer.png" />
        </a>
    </div>

</div>

<script type="text/javascript">
    var codeId = 0;
    var phoneNumber;
    $(function () {
        var winH = $(window).height();
        var categorySpace = 10;
    });

    //跳转页面
    $('.js_item').on('click', function () {
        var id = $(this).data('id');
        window.pageManager.go(id);
    });

    //发送短信
    $('.weui-vcode-btn').on('click', function () {
        var tel = $('#tel').val();
        var $toast = $('#toast');
        $('#toast_content_text').text('操作成功');
        $toast.fadeIn(100);
        setTimeout(function () {
            $toast.fadeOut(100);
        }, 2000);
        $.post(`https://www.airtu.me/AllWeb/APIS/CommunityUser/Send/Send?phoneNumber=${tel}`, function (data, state) {
            codeId = data.Data.id;
            console.log(codeId);
        })
    })


    //验证短信
    $('#showTooltips').on('click', function () {
        var tel = $('#tel').val();
        var code = $('#number').val();
        var $toast = $('#toast');
        var $loadingToast = $('#loadingToast');
        $loadingToast.fadeIn(100);
        var id = $(this).data('id');
        $.post(`https://www.airtu.me/AllWeb/APIS/CommunityUser/Send/Code?id=${codeId}&phoneNumber=${tel}&vCode=${code}`, function (data, state) {
            var resultCode = data.Code;
            if (resultCode == '200') {
                $('#toast_content_text').text('验证成功');
            } else {
                $('#toast_content_text').text('验证失败');
            }

            setTimeout(function () {
                $loadingToast.fadeOut(100);
                $toast.fadeIn(100);
                setTimeout(function () {
                    $toast.fadeOut(100);
                    phoneNumber=tel;
                    if(resultCode=='200') window.pageManager.go(id);
                }, 2000);
            }, 2000);
        })
    })
</script>